<template>
  <div class="container">
    <h1>The user component</h1>
    <h3>I am a awesome user!</h3>
    <button @click="changeName">change my name</button>
    <p>Name is {{ name }}</p>
    <hr>
    <div class="row">
        <div class="col-sx-3 col-de-3">
    <app-user-detail :name="name" 
                      @nameWasReset="name = $event"
                      :userAge="age"
    ></app-user-detail>
        </div>
        <div class="col-de-3 col-re-4">
         <app-edit-detail :userAge="age"                      
                           @ageWasReset="age = $event"
                            ></app-edit-detail>
        </div>
    </div>
  </div>
</template>

<script>
import UserDetail from './components/UserDetail.vue'
import EditDetail from './components/EditDetail.vue'
export default {
  data: function() {
    return {
      name:'peter',
      age:43
    }
  },
  components: {
     appUserDetail: UserDetail,
     appEditDetail: EditDetail
  },
  methods: {
  changeName() {
    this.name='dan'
  }
}
}
</script>

<style scoped>
   .container {
     background-color: aqua;
     border: 4px solid black;
      margin: auto;
     padding: 10px;
     
   }
   div {
     display: inline-block;
     vertical-align: middle;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
</style>
