<template>
<div class="bottle">
    <h1>You may edit the user here</h1>
    <h3>Edit  details!</h3>
    <p>user Age: {{ userAge}}</p>
    <button @click="editAge">edit Age</button>
    <button @click="resetAge">Reset age</button>
</div>
</template>

<script>
export default {
    props:['userAge'],
 methods:{
     editAge() {
         this.userAge=30;
         this.$emit('ageWasReset', 30)

     },
       resetAge() {
         this.userAge=43;
         this.$emit('ageWasReset', 43)
     }
 }
}
</script>

<style scoped>
.bottle {
    background-color: rgb(47, 255, 116);
}

</style>
