<template>
<div class="component">
    <h1>You may view the user details here</h1>
    <h3>Many details</h3>
    <p >Username: {{ name }}</p>
    <p >UserAge: {{ userAge }}</p>
    <button @click="resetName">Reset name</button>
</div>
</template>

<script>
export default {
    props:['name', 'userAge'],
    methods: {
        resetName() {
            this.name='peter'
            this.$emit('nameWasReset', 'peter')
        }
    }
}
</script>

<style scoped>
.component {
    background-color: palevioletred;
}

</style>
